 :root {
     --color-brand: #2E2F42;
     --color-primary: #4D5AE5;
     --colol-secondary: #434455;
     --color-main: #FFFFFF;
     --color-footer: #E7E9FC;
     --color-hover: #404BBF;
 }

 body {
     background: var(--color-main);
     color: var(--color-brand);
     font-family: 'Roboto';
 }

 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 /* шапка */

 .header {
     border-bottom: 1px solid #E7E9FC;
 }

 .nav-link {
     display: flex;
     align-items: center;
 }

 .container {
     max-width: 1158px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .main-div {
     display: flex;
     align-items: center;
 }


 .logo-first {
     color: var(--color-primary);
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     text-decoration: none;
     font-size: 18px;
     line-height: 1.333;
     letter-spacing: 0.03em;
     padding: 0px;
 }

 .logo-second {
     font-family: 'Raleway', sans-serif;
     color: var(--color-brand);
     letter-spacing: 0.03em;
     padding: 0px;
 }

 .link {
     text-decoration: none;
     color: var(--color-brand);
     display: flex;
     margin-left: 76px;
 }

 .test-link:hover,
 .test-link:focus {
     color: var(--color-hover);
 }

 .test-link {
     font-style: normal;
     font-weight: 500;
     text-decoration: none;
     font-size: 16px;
     line-height: 1.5;
     color: var(--color-brand);
     letter-spacing: 0.02em;

     padding-top: 24px;
     padding-bottom: 24px;
     display: block;
 }

 .link .item+.item {
     margin-left: 40px;
 }

 .nav-link {
     display: flex;
     align-items: center;
     flex-grow: 1;
 }

 .address {
     color: var(--colol-secondary);
     margin-left: auto;
 }

 .link-address {
     display: flex;
     margin-left: auto;
 }

 .link-address .item+.item {
     margin-left: 40px;
 }


 .test-address {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--colol-secondary);
     text-decoration: none;

     padding-top: 24px;
     padding-bottom: 24px;
     display: block;
 }


 .test-address:hover,
 .test-address:focus {
     color: var(--color-hover);
 }

 /* загаловак */

 .section-hero {
     background-image: linear-gradient(0deg,
             rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
         url('../images/people-office\ 1.jpg');
     text-align: center;
     background-position: center;
     background-size: cover;
     background-size: 1440px auto;
     padding-top: 188px;
     padding-bottom: 188px;
 }

 .hero-tital {
     color: var(--color-main);

     font-weight: 700;
     text-align: center;
     font-size: 56px;
     line-height: 1.071;
     letter-spacing: 0.02em;

     margin-bottom: 48px;
     margin-top: 0px;
 }

 .button-light {
     background: var(--color-primary);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: var(--color-main);
     font-style: normal;
     font-weight: 500;
     text-align: center;
     font-size: 16px;
     line-height: 1.5;
     font-family: 'Roboto';
     letter-spacing: 0.04em;
     border-color: transparent;

     padding: 16px 32px;
     gap: 10px;
     flex-direction: row;
 }

 .button-light:hover,
 .button-light:focus {
     text-align: center;
     background: var(--color-hover);
     cursor: pointer;
 }


 /* инструкция */

 .section {
     padding-top: 120px;
     padding-bottom: 120px;
 }


 .instruction {
     display: flex;
 }

 .instruction .link-instruction+.link-instruction {
     margin-left: 24px;
 }

 .link-instruction {
     flex-basis: calc((100% - 72px)/4);
 }


 .paragraph {
     color: var(--colol-secondary);
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
     margin-top: 0;
     margin-bottom: 0;
 }


 /* Техніка */
 .section-img {
     color: var(--color-brand);
     font-weight: 700;
     text-align: center;
     font-size: 36px;
     line-height: 1.111;
     letter-spacing: 0.02em;
     margin-top: 0;
     margin-bottom: 72px;
 }

 .section-link {
     padding-top: 0;
     padding-bottom: 120px;
 }

 .link-img {
     display: flex;

 }

 .link-img .img-link+.img-link {
     margin-left: 24px;

 }


 /* Співробітники */
 .section-li {
     background: var(--color-main);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     border-radius: 0px 0px 4px 4px;
 }

 .section-li-li {
     display: flex;
     flex-wrap: wrap;
 }

 .section-li-li .section-li+.section-li {
     margin-left: 24px;
 }

 .section-header {
     color: var(--color-brand);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     margin-top: 0;
     margin-bottom: 8px;
 }


 .employees {
     background: #F4F4FD;
     padding-top: 120px;
     padding-bottom: 120px;
 }

 .paragraph-link {
     text-align: center;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.02em;
     margin-top: 8px;
     margin-bottom: 0;


 }

 .section-header-link {
     text-align: center;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     text-align: center;
     letter-spacing: 0.02em;

     margin-top: 0;
     margin-bottom: 8px;
 }

 .work {
     padding-top: 32px;
     padding-bottom: 32px;
 }

 /* Футер */



 .footer {
     background: var(--color-brand);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;

     padding-top: 100px;
     padding-bottom: 100px;
 }

 .logo-seconds {
     color: #F4F4FD;
 }

 .paragraph-footer {
     color: #E7E9FC;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;

     margin-top: 16px;
     margin-bottom: 0;
     width: 264px;
     height: 72px;
 }



 /* портфолія */

 /* загаловак */

 .section-portfolio {
     box-sizing: border-box;
     border-radius: 4px;
     text-decoration: none;
     padding-top: 96px;
     padding-bottom: 120px;
 }

 .item-portfolio {
     display: flex;
     justify-content: center;
     margin-top: 0;
     margin-bottom: 72px;
 }


 .item-portfolio .item-button+.item-button {
     margin-left: 24px;
 }

 .button-portfolio {

     background: #F4F4FD;
     border: 1px solid #E7E9FC;
     border-radius: 4px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;


     text-align: center;
     letter-spacing: 0.04em;
     color: var(--color-primary);
     cursor: pointer;
     text-decoration: none;

     Padding: 12px 24px 12px 24px;
 }



 .button-portfolio:hover,
 .button-portfolio:focus {
     color: var(--color-main);
     background-color: var(--color-primary);
     border-color: transparent;
 }

 .box {
     display: flex;
     flex-wrap: wrap;
     gap: 48px 24px;
 }

 .link-box {}

 .link-box-portfolio {

     padding-top: 32px;
     padding-bottom: 32px;
     padding-left: 16px;
     padding-right: 16px;
     border: 1px solid #E7E9FC;

 }

 .links-portfolio {
     cursor: pointer;
     text-decoration: none;
 }


 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }